<!DOCTYPE html>
<html>
<head>
    <title>Help</title> 
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This page is created by Avinash using mapbox and weather stack</p>

    </div>
    {{>footer}}
</body>
</html>